body {
  font-family: 'Oldenburg', cursive;
}

a {
  color: 999;
}

a:hover {
  color: 999;
}

header {
  font-size: 12px;
  background-color: #fff;
}

#logo {
  background-image: url("/css/images/bubb.png")

}

li {
  color: #222;
  float: left;
  display: inline-block;
  padding: 2px;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;

}

li:hover {
  color: 222;
  border-bottom-color: #3DAFCA;
}

nav li {
  padding-right: 10px;
  color:;
  border-bottom: 4px #eee solid;
}

nav li a{
  color: #777777;
}
nav li a:hover {
  text-decoration: none;
  color: #3DAFCA;
}

.col-md-2.contact p {
  text-align: right;
}

.contact {
  padding: 10px 0px 0px 0px;
}

.fa {
  text-align: center;
  padding: 35px 15px 0 0;
  color: #777777;
}

.fa:hover {
  color: #3DAFCA;
}

.fa a {
  text-decoration: none;
}