body {
  font-family: 'Oldenburg', cursive;
  margin: 10px;
}

a {
  color: 999;
}

a:hover {
  color: 999;
}

header {
  font-size: 12px;
  background-color: #fff;
  border-bottom: 1px solid #eeeeee;
  padding: 0 0 60px 0;
  margin: 0 0 40px 0;
}

.col-md-3.logo {
  /*background-image: url("/css/images/bubb.png");*/
  margin-top: 30px;

}

.col-md-3.logo img {
  float: left;
}

#image_logo {
  height: 75px;
  width: 75px;
  margin: -25px 20px 0 20px;
  color: #3DAFCA;
  background: url(/css/images/bubb.png) 0 0;
}

.col-md-3.logo p {
  text-align: left;
}


li {
  color: #222;
  float: left;
  display: inline-block;
  padding: 2px;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;

}

li:hover {
  color: 222;
  border-bottom-color: #3DAFCA;
}

nav li {
  font-size: 14px;
  padding-right: 10px;
  border-bottom: 4px #eee solid;
}

nav li a{
  color: #777777;
}
nav li a:hover {
  text-decoration: none;
  color: #3DAFCA;
}

.col-md-2.contact p {
  text-align: right;
}

.contact {
  padding: 25px 0px 0px 0px;
  color: #000000;
  font-weight: bolder;
}

.fa {
  text-align: center;
  padding: 35px 15px 0 0;
  color: #999999;
}

.fa:hover {
  color: #3DAFCA;
}

.fa a {
  text-decoration: none;
}