body {
  font-family: 'Oldenburg', cursive;
}

a {
  color: 999;
}

a:hover {
  color: 999;
}

header {
  font-size: 12px;
  background-color: #999;
}

#logo {
  background-image: url("/css/images/bubb.png")

}

li {
  color: #222;
  float: left;
  display: inline-block;
  padding: 2px;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border-bottom: 2px #ddd solid;
}

li:hover {
  color: 222;
  border-bottom-color: 777;
}
